.wrapper-item-detail {
  margin-bottom: 15%;
}

section {
    text-align: left;
}

 
 .ItemDetailContainer {
    margin-top: 4%;
    width: 95%;
    display: flex;
    justify-content: left;
    margin-left: 2rem;
    position: relative;
    gap: 3rem;


 }

 .ItemDetailContainer img {
    width: 40rem;
 }

 .DescriptionDetail {
    border: 1px solid rgb(70, 70, 70);
    border-bottom: none;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-left: 2rem;

}

.tittle-detail {
   color: white;
   font-size: 2rem;
    border:1px solid white;
    width:30%;
    margin:auto;
    padding:1rem;
    border-radius:0 0 1rem 1rem;
}

 footer{
    position: absolute;
    bottom: 0;
 }

 picture {
   text-align: center;
   font-size: 2rem;
   color: white;
 }
 
 .price {
    font-size: 2rem;
    color: white;
 }
 
 .img-detail {
   border-radius: 1rem;
   border: none;
 }


 .info-detail {
   display: flex;
   gap: 1rem;
   cursor: pointer;
 }
 .price-detail {
   display: flex;
   gap: 0.5rem;
   margin: 2rem;
   margin-left: 0;

 }

 .price-history {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: black;
   margin-top: 3rem;
   border-radius: 0;
   width: 100%;
   height: 30%;
   border: none;
  

 }


 .img-price-history {
   min-width: 100%;
   height: 100%;
   border-radius: 0 0 1rem 1rem;
 }

 .btn-price-history {
  width: 100%;
 }



 @media (max-width: 1300px) {
  .ItemDetailContainer {
    display: flex;
    flex-direction: column;
  }

  .DescriptionDetail {
    margin-left: 0;
    width: 80%;
    margin: auto;
  }
}