@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.wrapper-checkout {
    background-color: rgba(7, 7, 7, 0.466);
    width: 40%;
    margin: auto;
    margin-bottom: 25%;
    color: white;
    padding: 2rem;
    position: relative;
    top: 150px;
    border-radius: 1rem;
}

.form {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    opacity: 1;
}


.form input {
    padding: 20px;
    border-radius: 0.4rem;
    border: none;
    background-color: rgb(224, 224, 224);
    box-sizing: border-box; 
    width: 70%;
}

.form input::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-family: 'Arvo', serif;

}

.btn-submit {
    background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
    border: none;
}

.tittle-form {
    font-family: 'Arvo', serif;
    font-size: 2rem;
}
.description-form {
    opacity: 0.5;
}