/* Estilos para Item */
.Item {
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    position: relative;
  }
  
  .Container {
    padding: 20px;
  }
  
  .Item img {
    width: 256px;
    max-width: 100%;
    height: auto;
  }
  
  .Item h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .Item p {
    margin: 10px 0;
  }

  .Item button:hover {
    background-color: #0056b3;
  }

  .Item-footer {
    display: flex;
    gap: .5rem;
  }

  .Item-footer {
    background-color: #2081e2;
    border-radius: 0 0 1rem 1rem;
    color: white;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 95%;
    height: 3rem;
    width: 100%;
    display: none;
  }

  .Item-footer > * {
    color: white;
    font-size: 1.5rem;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .Item:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }
  

  .Item:hover .Item-footer {
    display: block;
    animation: aumentarAltura 0.25s ease forwards;
  }


  @keyframes aumentarAltura {
    from {
      opacity: 0;
      bottom: -15%;
      height: 0;
    }
    to {
      opacity: 1;
      bottom: 0%;
      height: 2.4rem;
    }
  }